<div class="header-wrapper">
  <div class="logo-wrapper">
    <p class="logo">Tile.expert</p>
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12">
        <div class="wrapper">
          <ul class="menu">
            <li>
              <a href="">Ссылки<i class="fa-solid fa-caret-down"></i></a>
            </li>
            <li><a href="">Контакты</a></li>
            <li>
              <a href="">Теги<i class="fa-solid fa-caret-down"></i></a>
            </li>
            <li>
              <a href="">Просьбы<i class="fa-solid fa-caret-down"></i></a>
            </li>
            <li>
              <a href="">Избранное<i class="fa-solid fa-caret-down"></i></a>
            </li>
            <li>
              <a href="">Посещения<i class="fa-solid fa-caret-down"></i></a>
            </li>
          </ul>
          <search></search>
          <i class="fa-solid fa-circle-plus"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="user-wrapper">
    <i class="fa-solid fa-envelope"></i>
    <i class="fa-solid fa-bell"></i>
    <div class="user-icon">
      <img src="../../../assets/icon.jpg" alt="" />
    </div>
  </div>
</div>
