<div class="header-wrapper">
  <mobile-menu [(isOpen)]="isOpen"></mobile-menu>
  <a class="icon" (click)="open()">
    <i class="fa fa-bars"></i>
  </a>
    <p class="logo">Tile.expert</p>
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <div class="wrapper">
          <menu></menu>
          <search></search>
          <i class="fa-solid fa-circle-plus"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="user-wrapper">
    <i class="fa-solid fa-envelope"></i>
    <i class="fa-solid fa-bell"></i>
    <div class="user-icon">
      <img src="../../../assets/icon.jpg" alt="" />
    </div>
  </div>
</div>
